.links {
  color: #433a3f;
  font-weight: bold;
}
.links:hover {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #a9aca9;
}

.container {
  margin-top: 190px;
}

.card {
  margin: 0 auto;
}
